body {
    height: 100vh;
}
.container-fluid {
    background-image: url("../img/hell-08.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
    
    }


.btm {
 width: 100vh;
    position: absolute;
    bottom: 20%;
}
.col-3 {
align-self: flex-end ;
margin-bottom: 100px;
}
.rock {
    
    cursor: pointer; 
}
.paper {
    position: absolute;
    top: 5%; 
    cursor: pointer; 
}
.scissor {
    cursor: pointer; 
}
.tp {
    display: flex;
    width: 50%;
    justify-content: center;
}

.row {
    height: 100%;
}
img {
    height: auto;
    width: auto;
}