body {
    height: 100vh;
    overflow: hidden;
}
.container-fluid {
    background: url("../img/cave.jpg") no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
   
}


.btm {
 width: 100vh;
    position: absolute;
    bottom: 0%;
}
.col-3 {
align-self: flex-end ;
margin-bottom: 100px;
}
.rock {
    
    cursor: pointer; 
}
.paper {
    position: absolute;
    top: 5%; 
    cursor: pointer; 
}
.scissor {
    cursor: pointer; 
}
.tp {
    display: flex;
    width: 50%;
    justify-content: center;
}

.row {
    height: 100%;
}
img {
    height: auto;
    width: auto;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  #myBtn {
    width: 400px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  #circle {
    cursor: pointer; 
}
#darkness {
    position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: black;
  opacity: 0;
  pointer-events: none; 
  z-index: 101;
  transition: opacity 1s ease-out, transform 1s ease-out; 
  }